.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    .name {
      text-shadow: 1px 1px var(--primary-white-color);
      cursor: pointer;
    }
  }
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--primary-item-color);

  &:hover {
    .image {
      transform: scale(1.01);
    }
  }
}

.name {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  color: var(--primary-white-color);
  background-color: var(--primary-item-color);
  margin-bottom: auto;
}

.image {
  margin-top: 8px;
  width: 70%;
  height: 70%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 999px;
}
