.link {
  text-decoration: none;
  border-radius: 5px;
  margin-top: 12px;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: var(--primary-white-color);
  }
}

.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.info {
  margin-left: 24px;
}

.name {
  font-size: 1.4rem;
  font-weight: 600;
}

.price {
  font-size: 1.2rem;
}
