.wrapper {
  padding: 40px 80px 80px;
}

.section {
  padding: 40px;
  background-image: linear-gradient(to bottom right, var(--primary-item-color), var(--primary-color));
  margin-bottom: 12px;

  .section-row.sm-gutter {
    min-height: 500px;
  }
}

.suggestion {
  position: relative;

  .suggestion-nav {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.new {
  width: 100%;
  object-fit: cover;
}

.label {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-item-color);
  margin-bottom: 8px;
}
