// Sort
.sort-row {
  overflow: visible !important;
}

.sort-zone {
  margin: auto 0 auto 16px;
  padding: 16px 0;
  min-width: 120px;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid var(--primary-item-color);
}


