.grid {
  &.footer {
    background-color: var(--primary-item-color);
    padding: 60px 80px 80px 80px;
  }
}

.footer_list {
  list-style: none;
}

.footer_list-item {
  margin-top: 16px;
}

.footer_list-item:hover .footer_list-item-link {
  display: block;
  transition: transform 0.3 ease-in-out;
  transform: scale(1.1);
}

.footer_list-item-header {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
}

.footer_list-item-link {
  text-decoration: none;
  font-size: 1.4rem;
}

.footer_list-item-office {
  text-decoration: underline;
}
